name: ' Deploy Reference Documentation'

on:
  workflow_dispatch:

permissions:
  actions: read
  contents: read
  id-token: write
  pages: write

defaults:
  run:
    shell: powershell

env:
  ALGoOrgSettings: ${{ vars.ALGoOrgSettings }}
  ALGoRepoSettings: ${{ vars.ALGoRepoSettings }}

jobs:
  DeployALDoc:
    runs-on: [ windows-latest ]
    name: Deploy Reference Documentation
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Initialize the workflow
        id: init
        uses: spetersenms/AL-Go/Actions/WorkflowInitialize@PublishToEnvPr
        with:
          shell: powershell

      - name: Read settings
        uses: spetersenms/AL-Go/Actions/ReadSettings@PublishToEnvPr
        with:
          shell: powershell

      - name: Determine ArtifactUrl
        id: determineArtifactUrl
        uses: spetersenms/AL-Go/Actions/DetermineArtifactUrl@PublishToEnvPr
        with:
          shell: powershell

      - name: Determine Deployment Environments
        id: DetermineDeploymentEnvironments
        uses: spetersenms/AL-Go/Actions/DetermineDeploymentEnvironments@PublishToEnvPr
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          shell: powershell
          getEnvironments: 'github-pages'
          type: 'Publish'

      - name: Setup Pages
        if: steps.DetermineDeploymentEnvironments.outputs.deployALDocArtifact == 1
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0

      - name: Build Reference Documentation
        uses: spetersenms/AL-Go/Actions/BuildReferenceDocumentation@PublishToEnvPr
        with:
          shell: powershell
          artifacts: 'latest'
          artifactUrl: ${{ env.artifact }}

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: ".aldoc/_site/"

      - name: Deploy to GitHub Pages
        if: steps.DetermineDeploymentEnvironments.outputs.deployALDocArtifact == 1
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5

      - name: Finalize the workflow
        if: always()
        uses: spetersenms/AL-Go/Actions/WorkflowPostProcess@PublishToEnvPr
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          shell: powershell
          telemetryScopeJson: ${{ steps.init.outputs.telemetryScopeJson }}
          currentJobContext: ${{ toJson(job) }}
